* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

.player-label {
  position: absolute;
  background: transparent;
  color: white;
  text-shadow: 0 0 4px rgba(0, 0, 0, 1);
}
